<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cdsdsd</title>
</head>

<body>
    <h1>cdncncnc

    </h1>
    <h2 class="ss"></h2>
    <h2 class="ss"></h2>
    <h2 class="ss"></h2>
    <div class="FOOTER">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio, molestias! Mollitia quaerat, distinctio ipsum eaque vel labore ut? Ipsum voluptatibus placeat, totam quisquam veniam eaque aspernatur iste voluptatem quas eius.
    </div>
    cxcmcxmc,x

</body>
<script src="../js/javascript.js"></script>

</html>